<%- include("partial/partials.dash.header.ejs", {datos : datos}) %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- Vista de el chat -->

<div class="chat-container">
    <div class="chat-window" id="chat-window"></div>
    <div class="chat-input">
        <input type="text" id="message-input" placeholder="Escribe tu mensaje...">
        <button id="send-button">Enviar</button>
    </div>
</div>


<%- include("partial/partials.dash.footer.ejs") %>