<%- include("partial/partials.dash.header.ejs", {datos : datos}) %>

<!-- Vista de problemas comunes -->
    <div class="content-header">
    <h1>Problemas y Soluciones</h1>
    </div>
    <div class="content px-2">
    <h3 id="can-adminlte-be-used-with-wordpress">No puedo iniciar sesión</h3>
    <p>Verifica tus credenciales: Asegúrate de estar utilizando el correo electrónico y la contraseña correctos. Revisa si el bloqueo de mayúsculas está activado.
        Limpia la caché y las cookies: A veces, limpiar la caché y las cookies del navegador puede resolver el problema.
        Intenta con otro navegador o dispositivo: Prueba iniciar sesión desde otro navegador o dispositivo.</p>
    <h3 id="is-there-an-integration-guide-for-php-frameworks-such-as-yii-or-symfony">Página No Carga Correctamente</h3>
    <p>Actualizar la página: Presiona Ctrl + F5 (Windows) o Cmd + Shift + R (Mac) para actualizar la página sin usar la caché. Probar otro navegador o dispositivo: Intenta abrir la página en un navegador diferente o en otro dispositivo.
        Desactivar extensiones del navegador: Desactiva todas las extensiones y vuelve a intentar cargar la página.</p>
    <h3 id="how-do-i-get-notified-of-new-adminlte-versions"> Error 404 (Página No Encontrada)</h3>
    <p>Probar otro navegador o dispositivo: Intenta abrir la página en un navegador diferente o en otro dispositivo.
        Desactivar extensiones del navegador: Desactiva todas las extensiones y vuelve a intentar cargar la página.</p>
    </div>
   
    
    <%- include("partial/partials.dash.footer.ejs") %>