<%- include("partial/partials.dash.header.ejs", {datos : datos}) %>

<!-- Vista de informes y estadisticas -->
    <div class="stats-container">
        <div class="stat-box">
            <div class="stat-title">Tickets resueltos</div>
            <div class="stat-value">4</div>
        </div>
        <div class="stat-box">
            <div class="stat-title">Tiempos de resolucion</div>
            <div class="stat-value">2 a 4 días</div>
        </div>
        <div class="stat-box">
            <div class="stat-title">Problemas comunes</div>
            <div class="stat-value">inicio de sesión</div>
        </div>
       
    </div>

     
<%- include("partial/partials.dash.footer.ejs") %>