<%- include("partial/partials.dash.header.ejs", {datos : datos}) %>

<!-- Vista del inicio -->

<section class="content">

    <!-- Default box -->
    <div class="box">
      <div class="box-header with-border">
        <h2 class="box-title"><b>Resuelve tus problemas rápidamente con nuestro sistema de soporte</b></h2>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
            <i class="fa fa-minus"></i></button>
          <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
            <i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">
       Gestiona tus consultas y obtén respuestas rápidas con nuestra plataforma de tickets de soporte diseñada para tu comodidad.</h4> 
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <b>¿De qué se trata nuestra página?</b> Nuestro sistema de tickets de soporte está diseñado para simplificar la gestión de consultas y problemas técnicos. Con nuestra plataforma, puedes enviar, seguir y resolver tus tickets de manera eficiente, asegurando que recibas la asistencia que necesitas en el menor tiempo posible.
      </div>
      <div class="box-footer">
        <b>Puntos Clave:</b><br>
        •	Gestión eficiente de tickets <br>
        •	Respuestas rápidas y precisas <br>
        •	Interfaz fácil de usar
        
      </div>
      <div class="box-footer">
        <b></b><br>
        <div class="box-footer">
            <h3><b>Quiénes Somos</b></h3>
           <b>Visión y Misión:</b>
            Nuestra misión es ofrecer un soporte técnico excepcional que ayude a nuestros clientes a resolver sus problemas de manera rápida y eficiente. Nuestra visión es ser el sistema de soporte de referencia para empresas y particulares.
      </div>
      <!-- /.box-footer-->
    </div>
    <!-- /.box -->
    <div class="box-body">
     Si tienes alguna duda o pregunta aqui tienes nuestro correo para mayor información <b>tickdesk@gmail.com</b>
     </div>
  </section>

<%- include("partial/partials.dash.footer.ejs") %>